@model ShoppingCartViewModel

@if(Model.ShoppingCart.CartPurchaseItems.Count > 0)
{
    <a asp-controller="ShoppingCart" asp-action="Index">
        <span><img src="~/Images/cart-5-16.icon" /></span>
        <span style="color:White">
            @Model.ShoppingCart.CartPurchaseItems.Count
        </span>
    </a>
}