<br />
<img src="~/Images/admin.png" alt="Àrea de Administração" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>
                This is the Administrator Area
            </h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Return to Home Page</a>
</div>