@model SnackListViewModel
<div>
    <h2>@Model.CurrentCategory</h2>
</div>

<div class="conteiner">
    <div class="row">

        @foreach (var snack in Model.Snacks)
        {
            <partial name="_SnackSummary" for="@snack" />
        }
    </div>
</div>
