@model SnackListViewModel
<div>
    <h2>Todos os lanches</h2>
</div>

<div class="conteiner">
<div class="row">

@foreach (var snack in Model.Snacks)
{
    <div class="col-sm-4 col-md-4 col-lg-4">
        <p><img src="@snack.ImageUrl" class="img-fluid" /></p>
        <h3>Price : @snack.Price.ToString("c")</h3>
        <h4> @snack.Name</h4>
        <p>@snack.ShortDescription</p>
    </div>
}
</div>
</div>