<div class="row no-gutter">
    @{
        string[] imgs =
        {
    "~/images/carousel14.jpg",
    "~/images/carousel15.jpg",
    "~/images/carousel16.jpg"
    };
    }

    @foreach (var img in imgs)
    {
        <div class="col-xs-4 col-md-4">
            <a class="portifolio-box" asp-action="List" asp-controller="Snack">
                <img src="@Url.Content(img)" alt="Snacks" width="450" height="300" />
            </a>
        </div>
    }
</div>
