<footer>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h4> &copy; 2024 - SaborExpress</h4>
                    <p class="text-justify">
                        Here you will find that delicious snack that makes your mouth water.
                        That tasty dessert to accompany your favorite drink.
                        And if you are vegetarian you will also find the snack, dessert and drink that suits your taste.
                    </p>
                </div>
                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h4>Do you have any question ?</h4>
                    <ul class="list-unstyled">
                        <li class="py-1"> Av. Bueno de Andrade, 56 Setor-2 Quadra-7</li>
                        <li class="py-1"> +55- 999 9123 502</li>
                        <li class="py-1"> <a href="SaborExpress@hotmail.com" style="color: yellow">SaborExpress@hotmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</footer>