<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" role="button"
    id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Snacks </a>

    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li>
                <a class="dropdown-item" asp-controller="Snack" asp-action="List" style="color:black" asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </li>
        }
        <li class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" asp-controller="Snack" asp-action="List" asp-route-category="" style="color:black">All Snacks</a>
        </li>
    </ul>
</div>