<div class="container">
    <img src="~/Images/faleconosco1.jpg" alt="Contact us" />
    <div class="jumbotron">
        <h3>We want to hear what you have to say</h3>
        <p>

            If you have any questions or suggestions, please contact us
        </p>
        <p>
            <span>
                <img src="~/Images/Envelope-icon24.png" />
            </span>
            <h5><email adress="leticia.trancozo@gmail.com" content="Send an email"></email></h5>
            <br />
            <span>
                <img src="~/Images/phone-app-icon.png" />
            </span>
            <h5>(11) 93354-2048</h5>
            <br />
            <span>
                <img src="~/Images/Home-iconred.png" />
            </span>
            <h5>Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo</h5>
        </p>
    </div>
</div>