<table border="0" width="100%">
    <tr>
        <td>
            <form method="post" enctype="multipart/form-data" asp-controller="AdminImages" asp-action="UploadFiles">
                <img src="~/Images/upload2.png" width="200" height="150" />
                <div class="form-group">
                    <div class="col-md-10">
                        <p><b>Select one or more files to send :</b></p>
                        <P>(Files with the same name will be overwritten)</P>
                        <input type="file" name="files" multiple class="button btn-outline-primary" />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Upload file(s)" class="button btn-outline-primary" />
                    </div>
                </div>
            </form>
        </td>

        <td>
            <form method="post" enctype="multipart/form-data" asp-controller="AdminImages" asp-action="GetImages">
                <img src="~/Images/visualizar1.jpg" width="200" height="200" />
                <div class="form-group">
                    <div class="col-md-10">
                        <p><strong>View Images in the server folder:</strong></p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Preview files on the server" class="button btn-outline-warning" />
                    </div>
                </div>
            </form>
        </td>
    </tr>
</table>
<div class="container">
    @if (ViewData["Deleted"] != null)
    {
        <li>@ViewData["Deleted"]</li>
    }
</div>